body {
	background-image: url('../images/blurred.jpg');
	background-repeat: repeat-x;
	margin: 25px`;
}

footer {
	font-size: 9px;
	position: fixed;
}

#social-links {
	float:left;
}

#name-headline {
	float:left;
	padding-right: 20px;
}

a:visited {
    color: #DC9C89;
}

a {
	color: #73A2B1;
}

main {
	height: 500px;
}

p {
	width: 600px;
}